In [12]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [13]:
# Drop the non-beneficial ID columns, 'EIN' '.

application_df2 = application_df.drop(["EIN"], axis=1)
application_df2

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [14]:
# Determine the number of unique values in each column.
application_df2.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [15]:
# Look at NAME value counts for binning
name_bin = application_df2["NAME"].value_counts()
name_bin

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [17]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
name_types_to_replace = list(name_bin[name_bin<5].index)

# Replace in dataframe
for app in name_types_to_replace:
    application_df2['NAME'] = application_df2['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df2['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [18]:
# Look at APPLICATION_TYPE value counts for binning
binning_counts = application_df2["APPLICATION_TYPE"].value_counts()
binning_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [19]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(binning_counts[binning_counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df2['APPLICATION_TYPE'] = application_df2['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df2['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [20]:
# Look at CLASSIFICATION value counts for binning
binning_classification = application_df2["CLASSIFICATION"].value_counts()
binning_classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [21]:
# You may find it helpful to look at CLASSIFICATION value counts >1
binning_classification[binning_classification > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [22]:
classifications_to_replace = list((binning_classification[binning_classification<1000]).index)
classifications_to_replace

['C7000',
 'C1700',
 'C4000',
 'C5000',
 'C1270',
 'C2700',
 'C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [23]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# Replace in dataframe
for cls in classifications_to_replace:
    application_df2['CLASSIFICATION'] = application_df2['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df2['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [24]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df2 = pd.get_dummies(application_df2,dtype=float)
application_df2.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [25]:
# Split our preprocessed data into our features and target arrays
X = application_df2.drop("IS_SUCCESSFUL",axis=1).values

y = application_df2["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [26]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [27]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [28]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  7
hidden_nodes_layer2 = 14
hidden_nodes_layer3 = 21

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 3129

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 3,256
Trainable params: 3,256
Non-trainable params: 0
_________________________________________________________________

In [29]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [30]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split = 0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 3s 3ms/step - loss: 0.5344 - accuracy: 0.7421 - val_loss: 0.4714 - val_accuracy: 0.7689
Epoch 2/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4538 - accuracy: 0.7836 - val_loss: 0.4558 - val_accuracy: 0.7704
Epoch 3/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4416 - accuracy: 0.7883 - val_loss: 0.4533 - val_accuracy: 0.7756
Epoch 4/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4368 - accuracy: 0.7913 - val_loss: 0.4465 - val_accuracy: 0.7771
Epoch 5/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4317 - accuracy: 0.7926 - val_loss: 0.4462 - val_accuracy: 0.7751
Epoch 6/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4301 - accuracy: 0.7910 - val_loss: 0.4451 - val_accuracy: 0.7751
Epoch 7/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4289 - accuracy: 0.7931 - val_loss: 0.4440 - val_accuracy: 0.7769
Epoch 8/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4279 - accuracy: 0.7925 - val_loss: 0.4466 - val_accuracy: 0.7761
Epoch 9/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4272 - accuracy: 0.7927 - val_loss: 0.4471 - val_accuracy: 0.7771
Epoch 10/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4259 - accuracy: 0.7940 - val_loss: 0.4470 - val_accuracy: 0.7761
Epoch 11/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4246 - accuracy: 0.7955 - val_loss: 0.4464 - val_accuracy: 0.7764
Epoch 12/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4248 - accuracy: 0.7941 - val_loss: 0.4476 - val_accuracy: 0.7753
Epoch 13/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4242 - accuracy: 0.7943 - val_loss: 0.4481 - val_accuracy: 0.7748
Epoch 14/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4232 - accuracy: 0.7942 - val_loss: 0.4468 - val_accuracy: 0.7766
Epoch 15/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4228 - accuracy: 0.7964 - val_loss: 0.4466 - val_accuracy: 0.7815
Epoch 16/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4225 - accuracy: 0.7973 - val_loss: 0.4510 - val_accuracy: 0.7805
Epoch 17/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4227 - accuracy: 0.7978 - val_loss: 0.4493 - val_accuracy: 0.7805
Epoch 18/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4216 - accuracy: 0.7984 - val_loss: 0.4476 - val_accuracy: 0.7818
Epoch 19/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4219 - accuracy: 0.7983 - val_loss: 0.4494 - val_accuracy: 0.7831
Epoch 20/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4213 - accuracy: 0.7982 - val_loss: 0.4510 - val_accuracy: 0.7815
Epoch 21/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4212 - accuracy: 0.7984 - val_loss: 0.4482 - val_accuracy: 0.7805
Epoch 22/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4208 - accuracy: 0.7991 - val_loss: 0.4476 - val_accuracy: 0.7803
Epoch 23/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4204 - accuracy: 0.7994 - val_loss: 0.4492 - val_accuracy: 0.7818
Epoch 24/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4197 - accuracy: 0.8000 - val_loss: 0.4471 - val_accuracy: 0.7852
Epoch 25/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4193 - accuracy: 0.7989 - val_loss: 0.4486 - val_accuracy: 0.7834
Epoch 26/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4194 - accuracy: 0.8004 - val_loss: 0.4483 - val_accuracy: 0.7800
Epoch 27/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4189 - accuracy: 0.8004 - val_loss: 0.4484 - val_accuracy: 0.7839
Epoch 28/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4187 - accuracy: 0.8017 - val_loss: 0.4486 - val_accuracy: 0.7831
Epoch 29/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4186 - accuracy: 0.8009 - val_loss: 0.4508 - val_accuracy: 0.7834
Epoch 30/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4179 - accuracy: 0.8012 - val_loss: 0.4499 - val_accuracy: 0.7839
Epoch 31/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4177 - accuracy: 0.8009 - val_loss: 0.4478 - val_accuracy: 0.7839
Epoch 32/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4178 - accuracy: 0.8011 - val_loss: 0.4452 - val_accuracy: 0.7847
Epoch 33/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4174 - accuracy: 0.8010 - val_loss: 0.4478 - val_accuracy: 0.7831
Epoch 34/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4169 - accuracy: 0.8012 - val_loss: 0.4511 - val_accuracy: 0.7821
Epoch 35/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4168 - accuracy: 0.8015 - val_loss: 0.4504 - val_accuracy: 0.7834
Epoch 36/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4164 - accuracy: 0.8017 - val_loss: 0.4508 - val_accuracy: 0.7857
Epoch 37/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4158 - accuracy: 0.8025 - val_loss: 0.4527 - val_accuracy: 0.7831
Epoch 38/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4160 - accuracy: 0.8016 - val_loss: 0.4503 - val_accuracy: 0.7803
Epoch 39/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4158 - accuracy: 0.8023 - val_loss: 0.4488 - val_accuracy: 0.7854
Epoch 40/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4155 - accuracy: 0.8027 - val_loss: 0.4503 - val_accuracy: 0.7831
Epoch 41/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4153 - accuracy: 0.8027 - val_loss: 0.4521 - val_accuracy: 0.7834
Epoch 42/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4150 - accuracy: 0.8033 - val_loss: 0.4504 - val_accuracy: 0.7836
Epoch 43/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4153 - accuracy: 0.8028 - val_loss: 0.4494 - val_accuracy: 0.7841
Epoch 44/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4147 - accuracy: 0.8028 - val_loss: 0.4520 - val_accuracy: 0.7821
Epoch 45/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4148 - accuracy: 0.8026 - val_loss: 0.4517 - val_accuracy: 0.7828
Epoch 46/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4146 - accuracy: 0.8027 - val_loss: 0.4472 - val_accuracy: 0.7839
Epoch 47/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4148 - accuracy: 0.8035 - val_loss: 0.4481 - val_accuracy: 0.7860
Epoch 48/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4142 - accuracy: 0.8032 - val_loss: 0.4485 - val_accuracy: 0.7841
Epoch 49/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4140 - accuracy: 0.8034 - val_loss: 0.4509 - val_accuracy: 0.7831
Epoch 50/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4138 - accuracy: 0.8041 - val_loss: 0.4502 - val_accuracy: 0.7836
Epoch 51/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4135 - accuracy: 0.8030 - val_loss: 0.4495 - val_accuracy: 0.7865
Epoch 52/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4136 - accuracy: 0.8040 - val_loss: 0.4473 - val_accuracy: 0.7836
Epoch 53/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4134 - accuracy: 0.8037 - val_loss: 0.4491 - val_accuracy: 0.7854
Epoch 54/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4136 - accuracy: 0.8053 - val_loss: 0.4498 - val_accuracy: 0.7841
Epoch 55/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4132 - accuracy: 0.8044 - val_loss: 0.4519 - val_accuracy: 0.7849
Epoch 56/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4130 - accuracy: 0.8035 - val_loss: 0.4506 - val_accuracy: 0.7870
Epoch 57/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4127 - accuracy: 0.8038 - val_loss: 0.4521 - val_accuracy: 0.7847
Epoch 58/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4131 - accuracy: 0.8036 - val_loss: 0.4517 - val_accuracy: 0.7815
Epoch 59/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4131 - accuracy: 0.8038 - val_loss: 0.4489 - val_accuracy: 0.7844
Epoch 60/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4128 - accuracy: 0.8042 - val_loss: 0.4498 - val_accuracy: 0.7841
Epoch 61/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4128 - accuracy: 0.8048 - val_loss: 0.4502 - val_accuracy: 0.7854
Epoch 62/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4124 - accuracy: 0.8044 - val_loss: 0.4513 - val_accuracy: 0.7839
Epoch 63/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4127 - accuracy: 0.8051 - val_loss: 0.4477 - val_accuracy: 0.7831
Epoch 64/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4122 - accuracy: 0.8055 - val_loss: 0.4510 - val_accuracy: 0.7828
Epoch 65/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4129 - accuracy: 0.8044 - val_loss: 0.4503 - val_accuracy: 0.7844
Epoch 66/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4127 - accuracy: 0.8043 - val_loss: 0.4505 - val_accuracy: 0.7836
Epoch 67/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4125 - accuracy: 0.8044 - val_loss: 0.4510 - val_accuracy: 0.7865
Epoch 68/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4120 - accuracy: 0.8042 - val_loss: 0.4481 - val_accuracy: 0.7860
Epoch 69/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4120 - accuracy: 0.8048 - val_loss: 0.4496 - val_accuracy: 0.7860
Epoch 70/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4119 - accuracy: 0.8048 - val_loss: 0.4517 - val_accuracy: 0.7841
Epoch 71/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4116 - accuracy: 0.8063 - val_loss: 0.4504 - val_accuracy: 0.7857
Epoch 72/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4116 - accuracy: 0.8057 - val_loss: 0.4520 - val_accuracy: 0.7865
Epoch 73/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4116 - accuracy: 0.8052 - val_loss: 0.4487 - val_accuracy: 0.7854
Epoch 74/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4112 - accuracy: 0.8051 - val_loss: 0.4518 - val_accuracy: 0.7860
Epoch 75/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4114 - accuracy: 0.8062 - val_loss: 0.4493 - val_accuracy: 0.7834
Epoch 76/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4113 - accuracy: 0.8058 - val_loss: 0.4512 - val_accuracy: 0.7857
Epoch 77/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4112 - accuracy: 0.8055 - val_loss: 0.4506 - val_accuracy: 0.7849
Epoch 78/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4110 - accuracy: 0.8058 - val_loss: 0.4478 - val_accuracy: 0.7854
Epoch 79/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4110 - accuracy: 0.8051 - val_loss: 0.4486 - val_accuracy: 0.7860
Epoch 80/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4108 - accuracy: 0.8062 - val_loss: 0.4498 - val_accuracy: 0.7844
Epoch 81/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4112 - accuracy: 0.8059 - val_loss: 0.4505 - val_accuracy: 0.7847
Epoch 82/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4109 - accuracy: 0.8057 - val_loss: 0.4493 - val_accuracy: 0.7854
Epoch 83/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4109 - accuracy: 0.8068 - val_loss: 0.4489 - val_accuracy: 0.7821
Epoch 84/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4110 - accuracy: 0.8054 - val_loss: 0.4480 - val_accuracy: 0.7852
Epoch 85/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4109 - accuracy: 0.8061 - val_loss: 0.4490 - val_accuracy: 0.7847
Epoch 86/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4101 - accuracy: 0.8065 - val_loss: 0.4528 - val_accuracy: 0.7826
Epoch 87/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4109 - accuracy: 0.8056 - val_loss: 0.4528 - val_accuracy: 0.7862
Epoch 88/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4106 - accuracy: 0.8070 - val_loss: 0.4515 - val_accuracy: 0.7852
Epoch 89/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4107 - accuracy: 0.8064 - val_loss: 0.4528 - val_accuracy: 0.7834
Epoch 90/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4106 - accuracy: 0.8054 - val_loss: 0.4519 - val_accuracy: 0.7828
Epoch 91/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4108 - accuracy: 0.8064 - val_loss: 0.4504 - val_accuracy: 0.7849
Epoch 92/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4106 - accuracy: 0.8066 - val_loss: 0.4507 - val_accuracy: 0.7854
Epoch 93/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4104 - accuracy: 0.8061 - val_loss: 0.4504 - val_accuracy: 0.7860
Epoch 94/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4106 - accuracy: 0.8061 - val_loss: 0.4496 - val_accuracy: 0.7847
Epoch 95/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4102 - accuracy: 0.8047 - val_loss: 0.4490 - val_accuracy: 0.7875
Epoch 96/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4103 - accuracy: 0.8063 - val_loss: 0.4499 - val_accuracy: 0.7839
Epoch 97/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4098 - accuracy: 0.8058 - val_loss: 0.4590 - val_accuracy: 0.7800
Epoch 98/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4103 - accuracy: 0.8059 - val_loss: 0.4495 - val_accuracy: 0.7878
Epoch 99/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4103 - accuracy: 0.8067 - val_loss: 0.4543 - val_accuracy: 0.7854
Epoch 100/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4097 - accuracy: 0.8068 - val_loss: 0.4547 - val_accuracy: 0.7847

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4455 - accuracy: 0.7932 - 250ms/epoch - 932us/step
Loss: 0.4454589784145355, Accuracy: 0.7932361364364624

In [32]:
# Export our model to HDF5 file
# save model
nn.save('Resources/AlphabetSoupCharityOptimization.h5')